.title__principal{
    font-family: 'Barlow';
    color: $color_blue;
    font-size: 20pt;
    text-align: center;
}

.title__principal--large{
    font-family: 'Barlow';
    color: $color_blue;
    font-size: 25pt;
    text-align: center;
    margin: 10px 0;
}

.title__principal--medium{
    font-family: 'Barlow';
    color: $color_blue;
    font-size: 16pt;
    text-align: center;
}

.title__principal--small{
    font-family: 'Barlow';
    color: $color_blue;
    font-size: 12pt;
    padding: 5px;
}

.title__principal--medium__left{
    font-family: 'Barlow';
    color: $color_blue;
    font-size: 14pt;
    padding: 5px;
}

.title__sub{
    font-family: 'Barlow';
    color: black;
    font-size: 12pt;
    text-align: left;
}