@import "../../../styles/imports.scss";

.title-section {
  font-size: 14px;
  margin-left: 35px;
  margin-bottom: 10px;
  color: $color_blue;
  font-size: 16pt;
  font-family: "Barlow";
}

.content-div {
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: "Barlow";

  &__notice {
    margin: 0 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid $color_salmon;
    background-color: $color_salmon;
    & img {
      width: 100%;
      height: 100%;
    }
    & h3 {
      margin-top: 5px;
      font-size: 14px;
      color: white;
      font-size: 10pt;
    }
  }
}
