@import "../../styles/imports.scss";

.onboarding {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: $color_blue;
  padding-top: 150px;
  font-family: "Barlow";
  align-items: center;

  &__close {
    position: absolute;
    right: 50px;
    top: 50px;

    &__img {
      width: 50%;
      cursor: pointer;
    }
  }

  &__logo {
    margin-bottom: 30px;
    width: 60%;
  }

  &__text {
    width: 65%;
    font-size: 25px;
  }

  &__smallText {
    width: 70%;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
  }

  &__dots {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    position: absolute;
    bottom: 50px;
    left: 27.5%;

    &__img {
      width: 10%;
      margin: 2px;
      cursor: pointer;
    }
  }
}
