@import "../../styles/imports.scss";

.filters {
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: justify;
  color: $color_blue;

  &-title {
    color: $color_blue;
    font-size: 26px;
    text-align: center;
  }

  &__close {
    position: fixed;
    right: 0px;
    left: 330px;
    top: 12px;

    &__img {
      width: 70%;
    }
  }

  &-form {
    margin-bottom: 20px;

    &__ciudad {
      margin: 20px 0px;

      &__title {
        font-size: 22px;
        margin-bottom: 6px;
      }

      &__input {
        border-style: none;
        border-bottom: 1px solid $color_cloudyBlue;
        outline: none;
        width: 80%;
        font-size: 18px;
      }
    }

    &__especie {
      margin: 20px 0px;

      &__title {
        font-size: 22px;
        margin-bottom: 6px;
      }

      &__card {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
      }
    }

    &__edad {
      margin: 10px 0px;

      &__title {
        font-size: 22px;
        margin-bottom: 6px;
      }

      &__select {
        border-style: none;
        border-bottom: 1px solid $color_cloudyBlue;
        outline: none;
        width: 82%;
        font-size: 18px;
        background-color: transparent;
        color: rgb(121, 110, 110);
      }
    }

    &__sexo {
      margin: 10px 0px;

      &__title {
        font-size: 22px;
        margin-bottom: 6px;
      }

      &__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        cursor: pointer;
      }
    }

    &__tamaño {
      margin: 10px 0px;

      &__title {
        font-size: 22px;
        margin-bottom: 6px;
      }

      &__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
