@import "../../styles/imports.scss";

.advertisment {
    position: absolute;
    z-index: 1;
    background-color: #bdd2d6d3;
    width: 100%;
    height: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;

  &__box {
    width: 90%;
    background-color: white;
    position: absolute;
    z-index: 2;
    left: 4.5%;
    border-radius: 10px;
    border: 1px solid $color_blue;
    text-align: center;
    font-family: "Barlow";
    top: 90px;

    &__titulo {
      margin-top: 20px;
      color: $color_blue;
      font-size: 24px;
    }

    &__description {
      width: 90%;
      margin: 20px auto;
      font-size: 20px;
    }

    &__img {
      margin: 20px auto;
      &__foto {
        width: 90%;
      }
    }

    &__question {
      color: $color_blue;
      width: 90%;
      font-size: 20px;
      margin: 20px auto;
    }

    &__buttons {
      display: flex;

      &__cancelar {
        border: 1px solid $color_cloudyBlue;
        width: 50%;
        background-color: transparent;
        padding: 16px 0px;
        font-size: 16px;
        color: $color_tomato;
        cursor: pointer;
      }

      &__continuar {
        border: 1px solid $color_cloudyBlue;
        width: 50%;
        background-color: transparent;
        padding: 16px 0px;
        font-size: 16px;
        color: $color_blue;
        cursor: pointer;
      }
    }
  }
}
