@import "../../styles/imports.scss";

.home {
  display: flex;
  flex-direction: column;
  font-family: "Barlow" !important;
  margin-bottom: 50px;

  &__welcome-msg {
    margin-top: 23px;
  }

  &__bar {
    width: 82%;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 10px;
    color: $color_cloudyBlue;
    opacity: 50%;
  }
}

.swiper-container {
  width: 95%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 20px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
  width: 401px;
  right: -2%;
}

.swiper-slide {
  &__img {
    width: 92%;
    border-radius: 10px;
    box-shadow: -1px 5px 9px 0px $color_blue;
  }
}

.final-space {
  padding-bottom: 10px;
}
