@import "../../styles/imports.scss";

.cardpets {
  font-family: "Barlow";
  margin: 15px 0;
  display: flex;
  justify-content: center;

  &__box {
    height: 250px;
    width: 333px;
    border: 2px solid $color_cloudyBlue;
    border-radius: 4pt;

    &__form__button {
      border: none;
      outline: none;
      background-color: transparent;
      position: absolute;
      right: 25px;
      padding: 10px;
      cursor: pointer;
      &__img {
        width: 50%;
      }
    }

    &__img {
      width: 100%;
    }
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 15px;
      font-family: "Barlow";

      &__city {
        color: $color_blue;
      }
    }
  }

  &__img {
    width: 100%;
    height: 80%;
    border-radius: 4pt;
    border: 1px solid $color_cloudyBlue;
  }
}
