@import "../../styles/imports.scss";

.profile-button {
  height: 50px;
  width: 80%;
  margin: 10px auto;
  border: 1px solid $color_cloudyBlue;
  border-radius: 4pt;
  display: flex;
  justify-content: space-between;
  font-family: "Barlow";
  align-items: center;
  padding: 0 10px;

  &__left {
    display: flex;

    &__img {
      display: flex;
      align-self: center;
      max-width: 40px;
      max-height: 40px;
      margin: 2px auto;
      margin-right: 16px;
    }

    &__name {
      line-height: 50px;
      max-height: 50px;
      font-size: 20px;
      color: $color_blue;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    &__img {
      width: 50%;
    }
  }
}

.profile-button--logout {
  height: 50px;
  width: 85%;
  margin: 10px auto;
  border: 1px solid $color_cloudyBlue;
  border-radius: 4pt;
  display: flex;
  justify-content: space-between;
  font-family: "Barlow";
  align-items: center;
  padding: 0 10px;
  background-color: transparent;
}
