@import "../../styles/imports.scss";

.modal {
  height: 71px;
  width: 191px;
  border: 2px solid $color_salmon;
  position: absolute;
  display: flex;
  top: 61%;
  right: 4%;
  align-items: baseline;
  border-radius: 4px;

  &__text {
    flex: 3;
    padding-left: 10px;
  }
  &__span {
    flex: 1;
    text-align: end;
    &__img {
      width: 80%;
      cursor: pointer;
    }
  }
}

.tabs__container {
  background: white;
  margin-top: 42px;
  font-family: "Barlow";

  &__section2 {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border: 1px solid $color_cloudyBlue;
    border-radius: 4px;
    padding: 10px;

    &__span__img {
      width: 40%;
      cursor: pointer;
    }
    &__title {
      display: flex;
    }

    &__text2 {
      padding: 5px;
    }
  }
  &__section3 {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border: 1px solid $color_cloudyBlue;
    border-radius: 4px;
    padding-bottom: 40px;

    &__text2 {
      padding: 5px;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    &__text {
      font-size: 18px;
      margin: 5px 0;
      background-color: #01748e;
      color: white;
      border-radius: 10px;
      width: 100px;
      text-align: center;
      padding: 2px;
      font-weight: bold;
    }
  }

  &__tabs {
    display: flex;
  }

  &__content-tabs {
    flex-grow: 1;
  }

  &__tab {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      margin: 5px 0;

      &__data {
        flex: 4;
        font-size: 20px;
        display: flex;

        &__title {
          flex: 1;
        }

        &__subtitle {
          flex: 1;
          text-align: end;
          padding-right: 11px;
        }

        &__subtitle--specie {
          flex: 2;
          text-align: end;
          padding-right: 11px;
        }
      }
      &__span {
        flex: 1;
        text-align: center;

        &__img {
          width: 40%;
        }
      }
    }
  }
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-family: "Barlow";
  font-size: 20px;
}

.tabs:focus {
  padding: 15px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-family: "Barlow";
  font-size: 20px;
  color: $color_blue;
  font-weight: bold;
}

.active-tabs {
  background: white;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: $color_salmon;
  font-family: "Barlow";
}

button {
  border: none;
}

.content__tab {
  background: white;
  display: none;
  font-family: "Barlow";
  padding: 15px;
}

.active-content {
  display: block;
}
