@import "../../styles/imports.scss";

.cardfavpets {
  margin: 5px 0;
  font-family: "Barlow";

  &__link {
    text-decoration: none;
    font-family: "Barlow";
  }

  &__link:visited,
  &__link:link,
  &__link:active {
    color: $color_blue;
    font-family: "Barlow";
  }

  &__card {
    height: 61pt;
    width: 61pt;
    background-color: $color_cloudyBlue;
    border-radius: 8pt;
    text-align: center;
    color: $color_blue;
    padding: 7px;
    display: flex;
    flex-direction: column;
    &__box1 {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &__span__img {
        width: 50%;
      }
    }

    &__box2 {
      flex: 1;
      &__pet {
        font-family: "Barlow";
        font-size: 15pt;
        text-align: center;
        padding: 3px 0;
      }
    }
  }

  &__card:hover {
    height: 61pt;
    width: 61pt;
    background-color: $color_cloudyBlue;
    border-radius: 8pt;
    text-align: center;
    color: $color_blue;
    display: flex;
    flex-direction: column;
    padding: 7px;
    box-shadow: 0px 4px 7px 0px $color_blue;
  }
}
