@import "../../styles/imports.scss";

.profile {
  font-family: "Barlow";
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;

  &__foto {
    padding-bottom: 10px;

    &__img {
      width: 150px;
      height: 150px;
      border-radius: 150px;
      border: 4px solid $color_blue;
    }
  }

  &__box {
    margin-bottom: 50px;
    
  &__separation-button {
    margin-top: 35px;
  }
}
}
