@import "../../styles/imports.scss";

.filter-card--active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border: 3px solid $color_salmon;
  border-radius: 8px;
  width: 20%;
  height: 90px;
  margin: 10px 6px;

  .filter-card__img {
    max-width: 34px;
    max-height: 44px;
    margin: 10px auto;
  }

  .filter-card__name {
    text-align: center;
    font-size: 16px;
  }
}

.filter-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border: 1px solid $color_cloudyBlue;
  border-radius: 8px;
  width: 20%;
  height: 90px;
  margin: 10px 6px;

  .filter-card__img {
    max-width: 34px;
    max-height: 44px;
    margin: 10px auto;
  }

  .filter-card__name {
    text-align: center;
    font-size: 16px;
  }
}