@import "../../../styles/primaryColors/primaryColors";

.content {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  font-family: "Barlow";
  color: $color_blue;
}

.btn-atras-container-AF {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 2vh;
  align-items: flex-start;
}

.icon-atras {
  cursor: pointer;
  background-color: transparent;
}

.btn-continue-AF {
  width: 89%;
  height: 6vh;
  background-color: $color_salmon;
  border: 0;
  border-radius: 4pt;
  color: white;
  font-size: 16pt;
  margin-top: 4.3vh;
  margin-bottom: 3.9vh;
  cursor: pointer;
}

//Data

.component-form {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.title-container-AF {
  margin: 6.4% 0;
  width: 100vw;
  display: flex;
  align-items: center;
}

.title-container-AF p {
  width: 100%;
  font-size: 16pt;
  color: $black;
  text-align: center;
  margin-bottom: 1.5vh;
  font-weight: 400;
}

.progress {
  width: 89%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8vh;
}

.progress-bar-AF {
  display: block;
  width: 26%;
  height: 7pt;
  background-color: $color_salmon;
  border-radius: 3.5pt 0 0 3.5pt;
}
.remaining-progress-AF {
  display: block;
  width: 74.2%;
  height: 7pt;
  background-color: #fa9c93b0;
  border-radius: 0 3.5pt 3.5pt 0;
}
.form-container-AF {
  display: flex;
  flex-direction: column;
  width: 89%;
}
.form-container-AF h3 {
  width: 100%;
  font-size: 20pt;
  color: $color_blue;
  font-weight: 600;
  margin-bottom: 8%;
}
.input-container-AF {
  height: 2.7vh;
  border-bottom: 1pt solid $color_cloudyBlue;
  margin-bottom: 3.6vh;
}
.input-form-AF {
  margin: 0;
  padding: 0;
  border: 0;

  width: 100%;
  height: 80%;
  font-size: 12pt;
  color: $greyishBrown;
}
.terms-container-AF {
  width: 89%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.terms-container-AF p {
  padding: 0;
  margin: 0;
  font-size: 12pt;
  color: $black;
}
.terms-container-AF input[type="checkbox"] {
  display: none;
}
.terms-container-AF input[type="checkbox"] + label span {
  display: inline-block;
  width: 6.4vw;
  height: 6.4vw;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(/icons_USED/checkbox-empty.png);
  background-size: cover;
  cursor: pointer;
  margin-right: 1vh;
}
.terms-container-AF input[type="checkbox"]:checked + label span {
  background: url(/icons_USED/checkbox-checked.png);
  background-size: cover;
  margin-right: 1vh;
}

// AboutPets

.select {
  width: 200%;
  height: 30px;
}

.progress-bar-AP {
  display: block;
  width: 50%;
  height: 7pt;
  background-color: $color_salmon;
  border-radius: 3.5pt 0 0 3.5pt;
}
.remaining-progress-AP {
  display: block;
  width: 50%;
  height: 7pt;
  background-color: #fa9c93b0;
  border-radius: 0 3.5pt 3.5pt 0;
}

.other-animals-AP {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3.6vh;
}

.other-animals-AP h3 {
  padding: 0;
  margin: 0;
  font-size: 16pt;
  color: $black;
  font-weight: 400;
}
.other-animals-AP p {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  color: $black;
}
.radio-container-AP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-left: 7%;
}
.title-input-AP {
  margin: 0;
  padding: 0;
  font-size: 16pt;
  color: $black;
  margin-bottom: 2%;
  margin-bottom: 2vh;
}
.input-container-AP {
  display: flex;
  flex-direction: column;
  height: 2.7vh;
  border-bottom: 1pt solid $color_cloudyBlue;
  margin-bottom: 3.6vh;
  outline: none;
}
.input-container-AP-2 {
  display: flex;
  flex-direction: column;
  height: 8vh;
  border-bottom: 1pt solid $color_cloudyBlue;
  margin-bottom: 3.6vh;
  outline: none;
}
.input-form-AP {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  width: 100%;
  height: 80%;
  font-size: 12pt;
  color: $greyishBrown;
}

// FamilyHome

.progress-bar-FH {
  display: block;
  width: 100%;
  height: 7pt;
  background-color: $color_salmon;
  border-radius: 3.5pt;
}
.remaining-progress-FH {
  display: block;
  width: 0;
  height: 7pt;
  background-color: #fa9c93b0;
  border-radius: 0 3.5pt 3.5pt 0;
}
.radio-container-AP input[type="radio"] {
  display: none;
}
.radio-container-AP input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(/icons_USED/radio-empty.png);
  background-size: cover;
  cursor: pointer;
}
.radio-container-AP input[type="radio"]:checked + label span {
  background: url(/icons_USED/radio-checked.png);
  background-size: cover;
}

// SubmittedForm

.floating-box-SF {
  position: absolute;
  z-index: 1;
  background-color: #bdd2d6d3;
  width: 100%;
  height: 124%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.pop-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  background-color: white;
  border-radius: 12pt;
}
.close-pop-up {
  margin-top: 5.4%;
  margin-bottom: 1.4%;
  width: 89%;
}
.close-pop-up h3 {
  font-size: 16pt;
  font-weight: 800;
  color: $color_pineGreen;
}
.pop-up-container h2 {
  width: 33.3%;
  font-size: 25pt;
  font-weight: 500;
  color: $color_pineGreen;
  margin-bottom: 4.8%;
}
.pop-up-container p {
  width: 75%;
  font-size: 16pt;
  color: $color_pineGreen;
  margin-bottom: 2.6%;
  text-align: center;
}
.pop-up-container img {
  margin-top: 7.3%;
  margin-bottom: 10%;
  width: 51%;
}
