@import "../../styles/imports.scss";

.buscador {
  padding-top: 5px;
}

.buscar-estado-adopcion {
  padding-top: 28px;
  padding-left: 16px;
}
.div-adopcion {
  height: 207px;
  width: 346px;
  border: 1px solid $color_cloudyBlue;
  border-radius: 9px;
  margin-top: 22px;
  margin-left: 16px;
}
.text-adopcion {
  margin-top: 10px;
  margin-left: 6%;
  color: $color_blue;
  font-size: 16pt;
  font-family: "Barlow";
}
.text-adopcion-rechazado {
  text-align: end;
  margin-right: 27px;
  color: $color_tomato;
  font-size: 13pt;
  font-family: "Barlow";
}

.text-adopcion-process {
  text-align: end;
  margin-right: 27px;
  color: $color_squash;
  font-size: 13pt;
  font-family: "Barlow";
}

.adopcion-proceso {
  margin-left: 10px;
}

.imagen-proceso {
  border-radius: 150px;
  width: 158px;
  border: 5px solid #bdd2d6;
  height: 124px;
}

.datos-proceso {
  margin-left: 203px;
  margin-top: -25%;
  position: absolute;
  font-weight: 12pt;
  font-family: "Barlow";
}
.nombre-proceso {
  margin-bottom: 9px;
}
.ciudad-proceso {
  margin-bottom: 9px;
}
.informacion-adopcion {
  position: absolute;
  margin-left: 70%;
  margin-top: 14%;
}
.nombre-adopcion {
  margin-bottom: 8px;
}
.ciudad-adopcion {
  margin-bottom: 8px;
}
.imagen-lineas-verticales {
  margin-left: 88%;
  position: absolute;
  top: 5%;
  height: 24pt;
  width: 24pt;
}
.imagen-goback {
  margin-bottom: 10px;
  position: absolute;
  top: 4.5%;
  height: 20.5pt;
  width: 18pt;
  margin-left: -5px;
}
