@import "../../styles/imports.scss";

.finder {
  display: flex;

  &__box {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &__input {
      height: 28px;
      width: 310px;
      border-radius: 15pt;
      outline: none;
      border: 1px solid $color_cloudyBlue;
      padding-left: 20px;
      font-family: "Barlow";
    }

    &__span {
      position: absolute;
      right: 40px;
      cursor: pointer;

      &__img {
        width: 40%;
      }
    }
  }
}
