@import "../../styles/imports.scss";

.navbar {
  height: 62px;
  width: 101%;
  display: flex;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  background-color: white;

  &__box {
    box-shadow: -3px -4px 6px #7777773f;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;

    &__icon {
      &--user {
        width: 72px;
        height: 47px;
      }
      &__img {
        width: 46%;

        &--user {
          width: 40px;
          height: 40px;
          border-radius: 150px;
          border: 2px solid $color_blue;
        }
      }
    }
  }
}
