@import "../../styles/imports.scss";

.select-login {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Barlow";

  &__p-buttons {
    padding: 0px;
    margin: 0px;
    font-size: 12pt;
    color: $color_pineGreen;
    text-decoration: none;
  }

  &__bg {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("/images/home/background.png");
    background-size: cover;

    &__buttons-container {
      width: 60vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 7.2vh;
      font-size: 20pt;

      &__text {
        font-size: 20pt;
        font-style: medium;
        font-weight: 600;
        color: $color_pineGreen;
        padding-bottom: 20px;
      }
    }

    &__buttons-container1 {
      margin: 10px 0;
    }
  }
}
