@import "../../styles/imports.scss";

.error {
  color: red;
  margin: 10px 0px;
  font-family: 'Barlow';
} 

.loginform {
  display: flex;
  flex-direction: column;
  font-family: "Barlow";

  &__box {
    padding: 105px 0px;
    text-align: center;

    &__img {
      padding-bottom: 25px;

      &__image {
        width: 50%;
        padding: 50px 0;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__button {
      margin: 20px;
    }

    &__label {
      margin: 30px 0;

      &__icon {
        position: absolute;
        right: 72px;
        bottom: 268px;
        &__eye {
          width: 50%;
        }
      }

      &__input {
        border-style: none;
        border-bottom: 1px solid $color_blue;
        outline: none;
      }
    }
  }
}
