@import "../../styles/imports.scss";

.adoption {
  padding: 20px;
  margin-bottom: 35px;
  overscroll-behavior: contain;

  &__filter-error {
    text-align: center;
    color: $color_tomato;
    margin-top: 10px;
    font-size: 16px;
  }

  &__animalslist {
    margin-bottom: 60px;
  }

  &__line {
    margin: 20px 0;
    color: $color_cloudyBlue;
    opacity: 50%;
  }

  &__link {
    text-decoration: none;
  }

  &__animals__title {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__link {
      text-align: end;
      text-decoration: none;
    }
    &__span {
      text-align: center;
      &__img {
        width: 45%;
      }
    }
  }

  &__cardsfavpets {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__barstate {
    height: 50px;
    width: 352px;
    border: 1px solid $color_blue;
    border-radius: 4pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    margin: 5px 0;

    &__span {
      display: flex;
      justify-content: center;

      &__img {
        width: 33%;
      }
    }
  }

  &__box {
    padding: 25px 5px;

    &__head {
      display: flex;

      &__cards {
        height: 61pt;
        width: 61pt;
        background-color: $color_cloudyBlue;
        border-radius: 8pt;
      }
      &__bis {
        padding: 5px 0;
      }
      &__span {
        padding: 0 10px;

        &__img {
          width: 40%;
        }
      }
    }
  }
}
