.button-principal {
  color: white;
  background-color: $color_blue;
  border-style: none;
  height: 40pt;
  width: 196pt;
  border-radius: 5pt;
  font-size: 16pt;
  font-family: "Barlow";
  text-align: center;
  cursor: pointer;
}

.button-principal:hover {
  color: $color_blue;
  background-color: white;
  border-style: none;
  height: 40pt;
  width: 196pt;
  border-radius: 5pt;
  font-size: 16pt;
  font-family: "Barlow";
  border: 1px solid $color_blue;
  text-align: center;
  cursor: pointer;
}

.button-principal--white {
  color: $color_blue;
  background-color: white;
  border-style: none;
  height: 40pt;
  width: 196pt;
  border-radius: 5pt;
  font-size: 16pt;
  font-family: "Barlow";
  border: 1px solid $color_blue;
  cursor: pointer;
}

.button-principal--white:hover {
  color: white;
  background-color: $color_blue;
  border-style: none;
  height: 40pt;
  width: 196pt;
  border-radius: 5pt;
  font-size: 16pt;
  font-family: "Barlow";
  cursor: pointer;
}

.button-salmon {
  color: white;
  background-color: $color_salmon;
  border-style: none;
  height: 40px;
  width: 160px;
  border-radius: 5pt;
  font-size: 16pt;
  font-family: "Barlow";
  cursor: pointer;
}

.button-salmon:hover {
  color: $color_salmon;
  background-color: white;
  border-style: none;
  height: 40px;
  width: 160px;
  border-radius: 5pt;
  font-size: 16pt;
  font-family: "Barlow";
  border: 1px solid $color_salmon;
  cursor: pointer;
}

.button-salmon--white {
  color: $color_salmon;
  background-color: white;
  border-style: none;
  height: 40px;
  width: 160px;
  border-radius: 5pt;
  font-size: 16pt;
  font-family: "Barlow";
  border: 1px solid $color_salmon;
  cursor: pointer;
}

.button-salmon--white:hover {
  color: white;
  background-color: $color_salmon;
  border-style: none;
  height: 40px;
  width: 160px;
  border-radius: 5pt;
  font-size: 16pt;
  font-family: "Barlow";
  cursor: pointer;
}

.button-principal--white:hover {
  color: white;
  background-color: $color_blue;
  border-style: none;
  height: 40pt;
  width: 196pt;
  border-radius: 5pt;
  font-size: 16pt;
  font-family: barlow;
  cursor: pointer;
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  margin: 20px auto;
  border: 0px;
  border-radius: 6px;
}

.button-secondary--red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  margin: 20px auto;
  background-color: $color_salmon;
  border: 0px;
  color: #fff;
  border-radius: 6px;
}

.link {
  text-decoration: none;
}
