@import "../../styles/imports.scss";

.option {
  font-family: "Barlow";
  padding-top: 53px;

  &__foto {
    width: 30%;
    margin: 50px auto;

    &__img {
      width: 100%;
    }
  }

  &__box {
    padding-bottom: 80px;

    &__separation {
      margin: 210px 0px;
    }
  }
}

.profile-button--logout {
  cursor: pointer;
}
