@import "../../styles/imports.scss";

.adoptiondetail {
  font-family: "Barlow";

  &__buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    &__button1 {
      width: 35%;
    }

    &__button2 {
      width: 35%;
    }
  }

  &__box {
    height: 230px;
    width: 375px;

    &__span {
      position: absolute;
      top: 20px;
      left: 20px;
      &__img {
        width: 50%;
      }
    }

    &__card {
      height: 59px;
      width: 240px;
      background-color: white;
      position: absolute;
      top: 200px;
      right: 90px;
      border-radius: 4px;
      color: black;
      display: flex;

      &__form {
        &__icons {
          flex: 1;
          display: flex;
          align-items: center;
          text-align: center;

          &__spanfav {
            flex: 1;

            &__button {
              border: none;
              background-color: transparent;
              cursor: pointer;
            }
            &__img {
              width: 85%;
              padding: 0 5px;
            }
          }
          &__spanshare {
            flex: 1;
            &__img--share {
              width: 75%;
              cursor: pointer;
            }
          }
        }
      }
      &__title {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;
        padding: 10px;
        text-align: center;

        &__text {
          font-size: 20px;
          font-weight: bold;
        }
        &__text2 {
          font-size: 16px;
        }
      }
    }

    &__img {
      width: 110%;
      height: auto;
    }
  }
}

.modal__share {
  height: 53px;
  width: 161px;
  border: 2px solid #684846;
  position: absolute;
  top: -60px;
  right: -50px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;

  &__button {
    cursor: pointer;
  }

  &__span {
    &--close {
      position: absolute;
      right: -34px;
      top: -10px;
    }
    &__img {
      width: 55%;
      cursor: pointer;

      &--close {
        width: 45%;
        cursor: pointer;
      }
    }
  }
}
