@import "../../styles/primaryColors/primaryColors";

.buscarmapa{
    margin-bottom: 50px;
}
.container-mapa{
    width: 100%;
}

.fa-buscar{
    position: absolute;
    top: 1em;
    left: 20em;
}

.input-buscador{
    margin: 20px 0;
}
