@import "../../../styles/imports.scss";

.userForm {
  display: flex;
  flex-direction: column;
  font-family: "Barlow";

  &__box {
    padding: 35px 0px;
    text-align: center;

    &__img {
      padding-bottom: 15px;
      &__image {
        width: 50%;
        padding: 20px 0;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__button {
      margin: 20px;
    }

    &__label {
      margin: 30px 0;

      &__boximg {
        justify-content: center;
        align-self: center;
        margin-top: 30px;
        width: 60%;

        &__img {
          width: 70%;
          border-radius: 4px;
        }
      }
      &--picture {
        width: 132pt;
        height: 41pt;
        border: 2px solid $color_blue;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 30px 0;
        cursor: pointer;

        &__icon {
          padding: 10px 5px;
          width: 25%;
          margin-right: 5px;
        }
      }
      &__input {
        border-style: none;
        border-bottom: 1px solid $color_blue;
        outline: none;

        &--picture {
          display: none;
        }
      }
    }
  }
}
